In [1]:
import pandas as pd

In [8]:
#abon_raw_data = pd.read_csv('data/abon.csv', encoding='UTF-8')
abon_raw_data = pd.read_excel('data/abon.xlsx')

In [12]:
print abon_raw_data.columns

Index([u'UID', u'бел. Ip', u'статус', u'тариф инт', u'цена инт',
       u'тариф др.веб', u'цена др.веб', u'тариф твзавр', u'цена твзавр',
       u'Дата отключения'],
      dtype='object')

In [16]:
abon_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11000 entries, 0 to 10999
Data columns (total 10 columns):
UID                11000 non-null int64
бел. Ip            40 non-null object
статус             11000 non-null int64
тариф инт          11000 non-null object
цена инт           11000 non-null int64
тариф др.веб       0 non-null float64
цена др.веб        0 non-null float64
тариф твзавр       0 non-null float64
цена твзавр        0 non-null float64
Дата отключения    1000 non-null object
dtypes: float64(4), int64(3), object(3)
memory usage: 859.4+ KB

In [17]:
abon_raw_data.describe()

/Users/detkoale/anaconda/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,UID,статус,цена инт,тариф др.веб,цена др.веб,тариф твзавр,цена твзавр
count,1.100000e+04,11000.000000,11000.000000,0.0,0.0,0.0,0.0
mean,1.014412e+07,0.090909,358.870091,NaN,NaN,NaN,NaN
std,5.281842e+04,0.287493,60.747627,NaN,NaN,NaN,NaN
min,1.000013e+07,0.000000,0.000000,NaN,NaN,NaN,NaN
25%,1.011592e+07,0.000000,300.000000,NaN,NaN,NaN,NaN
50%,1.017329e+07,0.000000,350.000000,NaN,NaN,NaN,NaN
75%,1.018084e+07,0.000000,399.000000,NaN,NaN,NaN,NaN
max,1.018744e+07,1.000000,1000.000000,NaN,NaN,NaN,NaN